h1{
  text-align: center;
  font-style: oblique;
}

h2 {
  color: #black;
  text-align: left;
}
ul {
  font-size: 30px;
  text-align: left;
}

h3{
  color: #black;
  text-align: left;
  font-size: 30px
  }
h4 {
  font-weight: bolder;

}

p {
  font-size: 25px;
  font-weight: bold; 

}

body{
  background-image: url('../img/back.jpg');
  background-size: 900px;
 background-position: center;
background-repeat: no-repeat;
background-color: coral;


}
